@charset "UTF-8";
/* CSS Document */

.topnav {
overflow: hidden;
top:10;
	
}

.topnav{
  float: right;
  color:#000000;
  text-align: right;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
}
	.social{
	width: 50;
	background-color: #F2D3E7;
	border: 1px solid #000000;
	margin-left: auto;
	margin-right: auto;
	vertical-align: baseline;
}
.container{
	max-width: 1200px;
	margin:auto;
	overflow:auto;
}
.gallery{
	margin:5px;
	border:1px solid #FCE0F0;
	float:left;
	width:390px;
}
.gallery img{
	width:100px;
	height:auto;
}

.desc{
	padding: 15px;
	text-align: center;	
}