@charset "UTF-8";
/* CSS Document */
#container{ 
	width: 1000px;
	margin:auto;
}	
body{
	margin:0;
font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.topnav {
overflow: hidden;
top:10;
	
}

.topnav{
  float: right;
  color:#000000;
  text-align: right;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
}


section{
	margin:auto;
	padding: 0px;
	float:clear;
	width: 570px;
	height: 400px;
}

		
.vixxenpackaging{
	margin-left:auto;
	margin-right: auto;
	width: 30%;
	
}	

.img-container{
	float:left;
	width: 50%
  border-radius: 10px;
  padding: 2px 200px ;
  width: 65px;
	margin: auto;
	
	
}
	
}
.clearfix::after{
	content: "";
	clear:both;
	display: table;
}
	.social{
	width: 50;
	background-color: #F2D3E7;
	border: 1px solid #000000;
	margin-left: auto;
	margin-right: auto;
	vertical-align: baseline;
}
footer{
	bottom: 20px;
	margin-left:auto;
	margin-right: auto;
	border: 0px solid #FACDE4;
  border-radius: 10px;
  padding: 50px;
  width: 39px;
}
		



.img-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 20px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}



	








