@charset "UTF-8";
/* CSS Document */
#container{ 
	width: 1000px;
	margin:auto;
}	
body{
	margin-left:auto;
	margin-right: auto;
font-family: "Baskerville", "Palatino Linotype", "Palatino", "Century Schoolbook L", "Times New Roman", "serif";
}
.topnav {
overflow: hidden;
top:10;
	
}

.topnav{
  float: right;
  color:#000000;
  text-align: right;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
}



img{
	width: 20%;
	max-width: 50%;
	height: auto;
	vertical-align: middle;
		
}
	
	.socialimg img{
	width: 20%;
	max-width: 28px;
	height: auto;
	vertical-align: middle;
		
}
.logo img{
	margin-left: auto;
	margin-right:auto;
	display:block;
	width: 5px;
	
}

	.social{
	width: 2000px ;
	height: 30px;
	background-color: #F2D3E7;
	border: 0px solid #000000;
	
}
footer{
	bottom: 50px;
	margin-left:auto;
	margin-right: auto;
	border: 0px solid #FACDE4;
  border-radius: 10px;
  padding: 50px;
  width: 39px;
}
		
.hero{
	background-image: url("assets/images/vlcset.png");
	background background-size: cover;
	background-repeat: repeat;
	padding: 20px 20px 50px 20px;
	color:black;
	text-align: center;
}
h3{
	font-size: 50px;
	font-weight: 300px;
	margin:100px;
	font: "italiana";
}
.button{
	border:5px #E8518C solid;
	padding:8px 30px;
	border-radius: 30px;
	color: #e8518c;
	text-decoration: none;
}
	.colimg img{
	width:30%;
	float: left;
	max-width: 50%;
	height: auto;
	vertical-align: middle;
	padding: 0px 7px 14px;
		}

