@charset "UTF-8";
/* CSS Document */
	.topnav {
		overflow: hidden;
		top:10;
	
}

.topnav{
  float: right;
  color:#000000;
  text-align: right;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
}
	.social{
	width: 2000px;
	height: 30px;
	background-color: #F2D3E7;
	border: 1px solid #000000;
	margin-left: auto;
	margin-right: auto;
	vertical-align: baseline;
}
.container{
	max-width: 2000px;
	margin:auto;
	overflow:auto;
}
	.socialimg img{
	width: 20%;
	max-width: 28px;
	height: auto;
	vertical-align: middle;
		
}
	.logo img{
	margin-left: auto;
	margin-right:auto;
	display:block;
	width: 5px;
	
}
header{
	width:100%;
	top:100px;
	padding:1.5em;
	position:absolute;
}

	.desc{
	font-family: 'Poiret One', cursive;
	text-align: center;
}
	.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}
	footer{
	float: center;
	width: 100%;
	position: relative;
	padding: 20px 30px;
	background: #F9D2ED
	
}
	footer img{
	align-content: right;
		}
		
		
	footer p{
	font-family:'Bebas Neue', cursive;
	color: black;
	text-align: left;
	font-size: 1em;
	letter-spacing: 0.0em;	
	padding: none;
	
	
}
	.col{
	width: 33.33%;
	float:right;
	
}
	